.promo {
    display: flex;
    flex-flow: column nowrap;
    font-family: FuturaDemiC, normal;
}

/*Sidebar*/

.sidebar {
    position: absolute;
    width: 50px;
    height: 1200px;
    cursor: pointer;
}

.sidebar_inner {
    position: absolute;
    height: 1200px;
    top: 0;
    left: -100px;
    width: 80px;
    background: #131314;
    border-radius: 0 20px 20px 0;
    transition: .4s ease;
    cursor: pointer;
}

.sidebar:hover ~ .sidebar_inner {
    left: 0;
}
  
.sidebar_inner:hover {
    left: 0;
}

.sidebar_iner__wrapper {
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

/*Main container*/

.main_container {
    display: flex;
    flex-flow: row wrap;
}


.container {
    flex: 3 1 600px;
}

.header__navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.header__navigation li {
    text-decoration: none;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0em;
    color: #AAB8CB;
    padding-bottom: 10px;
}

.header__navigation li:active {
    color: #000000;
    border-bottom: 2px solid #4865FF;
}

.main_image {
    background-image: url(../img/Vector\ 2.jpg);
    background-repeat: no-repeat;
    background-position: left -5%;
    background-size: 97%;
}

.auto_image {
    background: no-repeat center/24% url(../img/auto.png);
    height: 800px;
    z-index: 2;
}

.temperature {
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 20px;
}

.temperature div {
    color: #8E98AD;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 0.105em;
}

.temperature span { 
    font-size: 34px;
    line-height: 14px;
    letter-spacing: 0em;
}

.back {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.back__button {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 2px solid #D5DBEB;
    margin-bottom: 10px;
    cursor: pointer;
}

.back__button span::after {
    content: "";
	display: inline-block;
	position: relative;
	width: 0.4em;
    height: 0.4em;
    border-right: 1.5px solid #000000;
    border-top: 1.5px solid #000000;
    transform: rotate(-135deg);
    margin-left: 3px;
    top: -1px;
}

.back__text {
    font-size: 12px;
    line-height: 41px;
    letter-spacing: 0.06em;
    writing-mode: tb-rl;
    color: #AAB8CB;
    margin: 0;
}

.control_buttons button {
    background-color:#D5DBEB;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    border-style: none;
    cursor: pointer;
}


.control_buttons p {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.105em;
    color: #949CAD;
}

.control_buttons button img {
    width: 50%;
}

.control_buttons__first {
    height: 60px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around;
}

.start {
    width: 6%;
    margin-left: auto;
    margin-right: auto;
}

.start button {
    background: #fff !important;
}

.control_buttons__second {
    height: 150px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

/*Aside*/

.aside {
    flex: 1 1 200px;
    background-color: #F1F4FA;
    border-bottom-left-radius: 50px;
}

.aside_image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #E2E7F2;
    height: 80px;
    width: 200px;
    margin: 0 0 0 auto;
    padding-right: 20px;
    border-bottom-left-radius: 50px;
}

.eye_logo {
    margin-left: 35px;
}

.aside_info {
    padding: 30px 0 0 50px;
}

.aside_title {
    margin: 0 0 55px 0;
}

.aside_title p {
    margin: 0;
}

.availability {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
}

.car_brand {
    font-size: 32px;
    letter-spacing: 0.02em;
}

.number_auto {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.08em;
}

.aside_info p span {
    color: #AAB8CB;
}

.aside_infobox {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 0 0 55px 0;
}

.aside_infobox p {
    margin: 0 0 15px 0;
}

.rating_auto {
    color: #4865FF;
}

.rating_auto__star {
    width: 3%;
    height: auto;
}

.aside_infobox p span {
    color: #AAB8CB;
}

.aside_comment {
    margin: 0 55px 35px 0;
}

.aside_comment__title {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0em;
    color:#AAB8CB;
    margin: 0 0 10px 0;
} 

.aside_comment__box {
    background-color: #E6EBF5;
    padding: 15px;
    border-radius: 23px;
}

.aside_comment__box p {
    margin: 0;
}

.user {
    font-size: 12px;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-decoration: underline;
}

.comment_text {
    font-family: FuturaBookC;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.button_rating {
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 0em;
    border: 2px solid #BECCE0;
    border-radius: 34px;
    padding: 15px;
    cursor: pointer;
}

.button_rating span::after {
    content: "";
	display: inline-block;
	position: relative;
	width: 0.4em;
    height: 0.4em;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    transform: rotate(45deg);
    margin-left: 10px;
    top: -1px;
}

/*Car condition*/

.car_condition {
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    line-height: 30px;
    padding-left: 50px;
}

div .description {
    font-size: 23px;
    line-height: 18px;
    letter-spacing: 0.105em;
    text-align: center
}

div .value {
    font-size: 66px;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
}

/*Footer*/

.footer {
    border-top: 2px solid #9FABBC;
}

.footer_navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 100px;
    width: auto;
    margin: 0;
}

.footer_navigation li {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    color: #9FABBC;
}

.footer_navigation li:active {
    color: #000000;
}



.footer_navigation a {
    text-decoration: none;
}