.promo {
    display: flex;
    flex-flow: column nowrap;
}

.main_container {
    display: flex;
    flex-flow: row wrap;
    height: 1200px;
}


.container {
    flex: 2 1 600px;
}

.header__navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.header__navigation li {
    text-decoration: none;
    font-family: "FuturaDemiC";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAB8CB;
    padding-bottom: 10px;
}

.header__navigation li:active {
    color: #000000;
    border-bottom: 2px solid #4865FF;
}

.main_image {
    position: absolute;
}

.fon_image {
    position: relative;
    width: 65%;
    height: auto;
    z-index: 1;
}

.auto_image {
    position: relative;
    right: 565px;
    bottom: 28px;
    width: 17%;
    height: auto;
    z-index: 2;
}

.control_buttons button {
    position: relative;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    z-index: 3;
    border-style: none;
}

.control_buttons button img {
    width: 50%;
}

.start_the_car {
    background-color: #fff;
    left: 403px;
    bottom: 308px;
}

/*Sidebar*/

.sidebar {
    flex: 1 1 300px;
    background-color: #F1F4FA;
    border-bottom-left-radius: 50px;
}

.sidebar_image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #E2E7F2;
    height: 80px;
    width: 200px;
    margin: 0 0 0 auto;
    padding-right: 20px;
    border-bottom-left-radius: 50px;
}

.eye_logo {
    margin-left: 35px;
}

.sidebar_info {
    padding: 30px 0 0 50px;
}

.sidebar_title {
    margin: 0 0 55px 0;
}

.sidebar_title p {
    margin: 0;
}

.availability {
    font-family: FuturaDemiC;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
}

.car_brand {
    font-family: FuturaDemiC;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.number_auto {
    font-family: FuturaDemiC;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.sidebar_info p span {
    color: #AAB8CB;
}

.sidebar_infobox {
    font-family: FuturaDemiC;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 55px 0;
}

.sidebar_infobox p {
    margin: 0 0 15px 0;
}

.rating_auto {
    color: #4865FF;
}

.rating_auto__star {
    width: 3%;
    height: auto;
}

.sidebar_infobox p span {
    color: #AAB8CB;
}

.sidebar_comment {
    margin: 0 55px 35px 0;
}

.sidebar_comment__title {
    font-family: FuturaDemiC;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    color:#AAB8CB;
    margin: 0 0 10px 0;
} 

.sidebar_comment__box {
    background-color: #E6EBF5;
    padding: 15px;
    border-radius: 23px;
}

.sidebar_comment__box p {
    margin: 0;
}

.user {
    font-family: FuturaDemiC;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-decoration: underline;
}

.comment_text {
    font-family: FuturaBookC;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.button_rating {
    font-family: FuturaDemiC;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    border: 2px solid #BECCE0;
    border-radius: 34px;
    padding: 15px;
}

.button_rating span::after {
    content: "";
	display: inline-block;
	position: relative;
	width: 0.4em;
    height: 0.4em;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    transform: rotate(45deg);
    margin-left: 10px;
    top: -1px;
}

/*Car condition*/

.car_condition {
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    font-family: FuturaDemiC;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

/*Footer*/

.footer {
    height: 140px;
    width: auto;
    border-top-style: 2px solid #F1F4FA;
}

.footer_navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.footer_navigation a {
    text-decoration: none;
}